.data-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.data-table th, .data-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.even-row {
    background-color: #c4fca4;
}

.odd-row {
    background-color: #b3e89e;
}

th {
    background-color: #5bda5b;
    color: black;
    font-weight: bold;
}
.search-button {
    background-color: yellow;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
