*{
    direction: rtl;
    text-align: right;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}
.content {
    flex-grow: 1;
    background-color: #d4ffb0; /* Light green background */
    padding: 20px;
  }
  .no-header{
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-shrink: 1; 
  }